/MeetingControl/.vs/MeetingControl/DesignTimeBuild/.dtbcache.v2
/MeetingControl/.vs/MeetingControl/v16/.suo
/MeetingControl/MeetingControl/export
/MeetingControl/MeetingControl/bin
/MeetingControl/MeetingControl/obj
